{% extends "base.html" %}

{% block page_title %}
    <title>Very Simple Web App</title>
    <style>
        body {background-color: mediumaquamarine;
              text-align: center;

        }
        .home_button{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <button style="height:65px;width:200px;margin:20px;font-size: 20px;"><a href="clear_memcache">Clear Memcache</a></button><br>
    <button style="height:65px;width:200px;margin:20px;font-size: 20px;"><a href="config_memcache">Configure Memcache</a></button><br>
    <button style="height:65px;width:200px;margin:20px;font-size: 20px;"><a href="resize_pool">Resize Pool</a></button><br>
    <button style="height:65px;width:200px;margin:20px;font-size: 20px;"><a href="get_memcache_stats">Get Memcache stats</a></button><br>
    <button style="height:65px;width:200px;margin:20px;font-size: 20px;"><a href="delete_all_data">Delete All Data</a></button><br>


{% endblock %}


